﻿@model IEnumerable<Comment>
@{
    ViewData["Title"] = "Comments";
}

<h1>Comments</h1>


@foreach (var item in Model)
{
    <div class="media my-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" class="mr-3" style="width: 64px; height: 64px; object-fit: cover">
        <div class="media-body">
            <h5 class="mt-0">@item.AppUser.UserName</h5>
            @Html.Raw(item.Text)
        </div>
    </div>
}


@if (User.Identity.IsAuthenticated)
{
    <form asp-action="AddComment" method="post">
        <div class="form-group">
            <label for="text">Example textarea</label>
            <textarea class="form-control" name="Text" id="text" rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
}

@section Scripts 
{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#text'
        });
    </script>
}